<section id='todos' class>
  <header>
    <h2><%=@current_list[:name]%> </h2>
    <ul>
      <a href=<%="#{@list_idx}/edit"%>>Change list name</a>
    </ul>
  </header>
  <ul>
    <% @current_list[:todos].each do |task| %>
      <li><%= task[:desc] %> </li>
    <% end %>
  </ul>
</section>

<% content_for :header_links do %>
 <a href="/">Return to all lists</a>
<% end %>