<section id='todos' class>
  <header>
    <h2><%=@current_list[:name]%></h2>
    #unordered list stuff
  </header>
  <ul>
    <% @current_list[:todos].each do |task| %>
      <li><%= task[:desc] %></li>
    <% end %>
  </ul>

</section>
<p><a href="/">Return to all lists</a></p>