<ul id="lists">
  <% sort_lists(@lists) do |list, i| %>
    <li class=<%= list_class(list)%> > 
      <a> 
        <h2><a href="/lists/<%=i%>"><%=list[:name]%></a></h2>
      </a>
      <p><%="#{todos_remaining_count(list)}/#{todos_count(list)}"%></p> 
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
 <a href="/lists/new" class='add' >Add a new list</a> 
<% end %>

<div>
  <p></p>
  <a href="/eraselists">Delete all lists</a>
  <p><a href="/nonsense"></p>
</div>  