<ul id="lists">
  <% @lists.each_with_index do |list, i| %>
    <li> 
      <a> 
        <h2><a href="/lists/<%=i%>"><%=list[:name]%></a></h2>
        <p><%=list[:todos].size%></p>
      </a>
    </li>
  <% end %>
</ul>

<a href="/lists/new">Add a new list</a> 
<div>
  <p></p>
  <a href="/eraselists">Delete all lists</a>
</div>  